    <%- include('./partials/header') %>
    <!-- aun falta la vinculacion con mongoose -->
<main class="catalogo">
    <section>
        <!-- imagen superior y indicador de seccion -->
        <div class="container d-flex flex-column">
            <div class="mb-2">
                <a href="/" class="my-3 rutaActual">Inicio</a>
                <span>/</span>
                <a href="/tienda/" class="my-3 rutaActual">Tienda</a>
            </div>
            
            <img src="https://github.com/LudmilaBerto/imagenes-e-commerce/blob/main/img/catalogo/catalogo.png?raw=true" class="img-fluid" alt="Imagen principal catalogo">
        </div>
        

        <div class="container">

            <div class="row">
                                <!-- Filtros -->
                                <section class="col-12 col-md-4 fw-semibold fs-5">
                                    <div class=" my-4 color-blanco">
                                        CATEGORIAS
                                    </div>
                                    <div class="navbar-nav d-flex flex-column">
                                        <!-- HAbitacion -->
                                        <li class="nav-item dropdown">
                                            <button class="pl-0 border-0 btn btn-custom btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 ajustar-fondo" data-bs-toggle="collapse" data-bs-target="#habitacionDropdown" aria-expanded="false" aria-controls="habitacionDropdown">
                                                <span>HABITACIÓN</span>
                                                <i class="bi bi-dash ml-auto "></i>
                                            </button>
                                                                        
                                            <ul class="border-0 dropdown-menu dropdown-menu-dark collapse ajustar-fondo" id="habitacionDropdown">
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Dormitorio">Dormitorio</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Cocina">Cocina</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Sala de estar">Sala de estar</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Comedor">Comedor</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Habitaciones de niños">Habitaciones de niños</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Baño">Baño</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Oficina">Oficina</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Habitacion/Balcón y terraza">Balcón y terraza</a></li>
                                            </ul>
                                        </li>
                                        <!-- Tipos de muebles -->
                                        <li class="nav-item dropdown mt-2">
                                            <button class="ajustar-fondo border-0 btn btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 btn-custom px-0" data-bs-toggle="collapse" data-bs-target="#mueblesDropdown" aria-expanded="false" aria-controls="mueblesDropdown">
                                                <span>TIPOS DE MUEBLES</span>
                                                <i class="bi bi-dash ml-auto"></i>
                                            </button>
                                            <ul class="ajustar-fondo border-0 dropdown-menu dropdown-menu-dark collapse" id="mueblesDropdown">
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Mueble/sofás">Sofá</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Mueble/armarios">Armarios</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Mueble/mesas para café">Mesas para café</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Mueble/muebles para TV">Muebles para TV</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Mueble/sillones">Sillones</a></li>
                                                <li><a class="dropdown-item px-0 sub-lide btn-sin-left color-terciario" href="/tienda/Mueble/estantes">Estantes</a></li>
                                            </ul>
                                            
                                        </li>
                                        <!-- Desplegable de seleccion de colores -->
                                        <li class="nav-item dropdown mt-2">
                                            <button class="border-0 btn btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 ajustar-fondo btn-custom" data-bs-toggle="collapse" data-bs-target="#colorMueblesDropdown" aria-expanded="false" aria-controls="colorMueblesDropdown">
                                                <span>COLOR DE MUEBLES</span>
                                                <i class="bi bi-dash ml-auto"></i>
                                            </button>
                                            <ul class=" border-0 dropdown-menu dropdown-menu-dark collapse ajustar-fondo" id="colorMueblesDropdown">
                                                <li class="dropdown-item  px-0 sub-lide">
                                                    <i class="bi bi-circle-fill text-primary fs-5 sub-lide-colores me-1"></i> <!-- Azul -->
                                                    <i class="bi bi-circle-fill text-success fs-5 sub-lide-colores"></i> <!-- Verde -->
                                                    <i class="bi bi-circle-fill text-danger fs-5 sub-lide-colores"></i> <!-- Rojo -->
                                                    <i class="bi bi-circle-fill text-warning fs-5 sub-lide-colores"></i> <!-- Amarillo -->
                                                    <i class="bi bi-circle-fill text-info fs-5 sub-lide-colores"></i> <!-- Cian -->
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- precio BARRA -->
                                        <li class="nav-item dropdown mt-2 ">
                                            <button class="border-0 btn btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 btn-custom px-0 mx-0 ajustar-fondo" data-bs-toggle="collapse" data-bs-target="#precioDropdown" aria-expanded="false" aria-controls="precioDropdown">
                                                <span>PRECIO</span>
                                                <i class="bi bi-dash ml-auto"></i>
                                            </button>
                                            <ul class=" border-0 dropdown-menu dropdown-menu-dark collapse px-0 mx-0 ajustar-fondo" id="precioDropdown">
                                                <li class="dropdown-item px-0 mx-0 liPrice">
                
                                                    <!-- PRECIO BARRA -->
                                                    <!-- Barra de precio con dos deslizadores -->
                                                    <div class="container mt-3 px-0 mx-0">
                                                        <div class="row ">
                                                            <div class="col-md-12 ">
                                                                <div class="px-0 mx-0 barraPrecio">
                                                                    <div class="barraRango" id="rangeBar"></div>
                                                                    <input type="range" id="priceRangeMin" min="0" max="1000000" step="10" value="0">
                                                                    <input type="range" id="priceRangeMax" min="0" max="1000000" step="10" value="1000000">
                                                                    
                                                                    <p class="color-terciario" id="priceValueMin">$0</p>
                                                                    <p class="color-terciario" id="priceValueMax">$1000000</p>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- TAMAÑOS -->
                                        <li class="nav-item dropdown mt-2">
                                            <button class=" border-0 btn btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 btn-custom ajustar-fondo" data-bs-toggle="collapse" data-bs-target="#tamañoDropdown" aria-expanded="false" aria-controls="tamañoDropdown">
                                                <span>TAMAÑOS</span>
                                                <i class="bi bi-dash ml-auto"></i>
                                            </button>
                                            <ul class="border-0 dropdown-menu dropdown-menu-dark collapse px-0 ajustar-fondo" id="tamañoDropdown">
                                                <li><a class="dropdown-item sub-lide px-0 color-terciario" href="/tienda/Tamano/Pequeño">Pequeño</a></li>
                                                <li><a class="dropdown-item sub-lide px-0 color-terciario" href="/tienda/Tamano/Mediano">Mediano</a></li>
                                                <li><a class="dropdown-item sub-lide px-0 color-terciario" href="/tienda/Tamano/Grande">Grande</a></li>
                                                <li><a class="dropdown-item sub-lide px-0 color-terciario" href="/tienda/Tamano/Extra Grande">Extra Grande</a></li>
                                            </ul>
                                            
                                        </li>
                                        <!-- Tipo de sofa -->
                                        <li class="nav-item dropdown mt-2">
                                            <button class=" border-0 btn btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 btn-custom ajustar-fondo" data-bs-toggle="collapse" data-bs-target="#tipoSofaDropdown" aria-expanded="false" aria-controls="tipoSofaDropdown">
                                                <span>TIPO DE SOFA</span>
                                                <i class="bi bi-dash ml-auto"></i>
                                            </button>
                                            <ul class="border-0 dropdown-menu dropdown-menu-dark collapse ajustar-fondo" id="tipoSofaDropdown">
                                                <li><a class="dropdown-item px-0 btn-sin-left color-terciario sub-lide " href="/tienda/TipoDeSofa/Sofá de cuero">Sofá de cuero</a></li>
                                                <li><a class="dropdown-item px-0 btn-sin-left color-terciario sub-lide " href="/tienda/TipoDeSofa/Sofá de dos plazas">Sofá de dos plazas</a></li>
                                                <li><a class="dropdown-item px-0 btn-sin-left color-terciario sub-lide " href="/tienda/TipoDeSofa/Sofá de tres plazas">Sofá de tres plazas</a></li>
                                                <li><a class="dropdown-item px-0 btn-sin-left color-terciario sub-lide" href="/tienda/TipoDeSofa/Sofá para uno">Sofá para uno</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </section>
                
                <!-- Arriba de cards-->
                <section class="col-12 col-md-8">
                    <div class="d-flex justify-content-between mt-3 mb-2 ps-0 ms-0">
                        <p class="color-blanco subrayado pt-3 ps-0 ms-0">MOSTRANDO 1-12 DE .. RESULTADOS</p>
                        <!-- Desplegable filtro de busqueda -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle  rounded-0 border-0 shortby-boton-load-more btn_font mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Búsqueda por defecto
                            </button>
                            <ul class="dropdown-menu shortby">
                                <li><a class="dropdown-item shortby" href="#">Precio ascendente</a></li>
                                <li><a class="dropdown-item shortby" href="#">Precio descendente</a></li>
                                <li><a class="dropdown-item shortby" href="#">Alfabetico ASC</a></li>
                                <li><a class="dropdown-item shortby" href="#">Alfabetico DSC</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- CARDS -->
                    
                    <div class="row pe-0 ">
                    <% productos.forEach(producto => { %>
                        
                        
                        <div class=" col-12 col-md-4 card border-0 tajetaFondo px-2 pt-2">
                            <a href="/tienda/productos/<%= producto._id%>" class="text-decoration-none">
                            <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                                <img class="rounded-0 " alt="imagen card" src="<%= producto.imagenDestacada %>">
                            </div>
                            <div class="card-body px-0 ">
                                <h6 class="fw-normal text-start pb-0 mb-0 color-titulo tarjetaTitulos"><%= producto.nombre %></h6>
                                <!-- imagen colores -->
                                <div class="mt-1 row mb-2 circulos-colores ">
                                    <% for (const [color, url] of producto.colores) { %>
                                        <img src="<%= url %>" alt="<%= color %>" class="pb-0 mb-0 tamano_circulos ">
                                    <% } %>
                                </div>
                                <h6 class="card-text text-start mb-3 color-blanco">$ <%= producto.precio %></h6>
                            </div>
                            </a>
                        </div>
                        
                        <% }) %>
                
                    </div>
                    

                    <div class="d-flex justify-content-center my-3 ">
                        <button class="btn btn-secondary border-0 px-3 rounded-0 shortby-boton-load-more btn_font cargar" type="button" id="cargarMas" >CARGAR MÁS PRODUCTOS</button>
                        
                    </div>
                </section>
                
                
            </div>
        </div>
        
    </section>
</main>

    <%- include('./partials/footer') %>
